# Exclude __pycache__

__pycache__/
dataloader/__pycache__/
models/__pycache__/
optimizer/__pycache__/
utils/__pycache__/
experiments/
dataset/3rd_data/
configs/

dataloader/rda_dataloader.py
models/basic_lstm.py
models/decision_tree.py

!configs/beak.json
!configs/hwang.json
!configs/kim.json
!configs/myeong.json
!configs/env_config.json
!configs/rf.json